<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        
    </style>
</head>

<body>
    <header>
        <%- include('./partials/navbar', {current: `formProductos`}) %>
    </header>

    <section class="py-5">
        <div class="container">
            <h3 class="fw-bold mb-4 text-uppercase">Catálogo de productos</h3>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% if (allProductsDTO.length <= 0) { %>
                    <div class="col">
                        <p>No se encontraron datos :(</p>
                    </div>
                <% } else { %>
                    <% allProductsDTO.forEach(product => { %>
                        <div class="col">
                            <div class="card h-100">
                                <img src="<%= product.thumbnail %>" class="card-img-top" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.nombre %></h5>
                                    <p class="card-text">$<%= product.precio %></p>
                                    <p class="card-text"><%= product.categoria %></p>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <form action="/api/productos/<%= product.id %>" method="GET">
                                                <button class="btn btn-pink me-2" type="submit">Ver</button>
                                            </form>
                                            <form action="/api/carrito/addProduct" method="POST">
                                                <input type="hidden" name="idUser" value=<%=userLog._id %> />
                                                <input type="hidden" name="idProduct" value=<%=product.id %> />
                                                <button class="btn btn-dark" type="submit">🤎 Agregar al carrito</button>
                                            </form>
                                        </div>
                                        <% if(userLog.admin) { %>
                                            <div>
                                                <form action="/api/productos/modificar" method="POST">
                                                    <input type="hidden" name="idProduct" value=<%= product.id %> />
                                                    <input type="hidden" name="nameProduct" value=<%= product.nombre  %> />
                                                    <input type="hidden" name="descripcionProduct" value=<%= product.descripcion %> />
                                                    <input type="hidden" name="precioProducto" value=<%= product.precio %> />
                                                    <input type="hidden" name="categoryProduct" value=<%= product.categoria %> />
                                                    <input type="hidden" name="linkProduct" value=<%= product.thumbnail %> />
                                                    
                                                    <button class="btn me-2"><img src="https://cdn-icons-png.flaticon.com/512/7797/7797944.png" height="38" width="38"></button>
                                                </form>
                                                <button class="btn" onclick="deleteProductById('<%= product.id %>')"><img src="https://cdn-icons-png.flaticon.com/512/7993/7993856.png" height="32" width="32"></button>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </section>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const deleteProductById = async (id) => {
            const response = await fetch(`/api/productos/${id}`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'DELETE',
            })
            .then(_ => {
                window.location.href = "/api/productos";
            });
        }
    </script>
</body>

</html>
