<h1>PRODUCTOS</h1>
<br />

<p>Bienvenido/a {{name}}</p>

<hr />

<div>
	Id del carrito:
	<span id="cartDiv">{{cartId}}</span>
	<a href="http://localhost:8080/api/carts/{{cartId}}" id="cartLink">Ver carrito</a>
</div>
<br />

<ul>
	{{#each products}}
		<li>Product: {{this.title}} </li>
		<p>description: {{this.description}} </p>
		<p>price: {{this.price}} </p>
		<hr />
		<button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>

		<hr />
	{{/each}}
</ul>

<script src="/js/product.js"></script>

<a href="/api/sessions/logout">Cerrar sesion</a>
