<h1>Pagina del perfil</h1>

<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Correo: {{user.email}}</p>
<p>Carrito: {{user.cart}}</p>

<ul>
	{{#each products}}
		<li>Product: {{this.title}} </li>
		<p>description: {{this.description}} </p>
		<p>price: {{this.price}} </p>

		<hr />
	{{/each}}
</ul>

<hr />
<a href="/api/products">
	<button>Lista de productos</button>
</a>

<hr />
<a href="/api/sessions/logout">
	<button>Cerrar sesion</button>
</a>
